annoy==1.10.0
certifi==2017.11.5
chardet==3.0.4
cymem==1.31.2
cytoolz==0.8.2
decorator==4.0.11
dill==0.2.7.1
en-core-web-sm==2.0.0
ftfy==4.4.3
html5lib==1.0.1
idna==2.6
imageio==2.1.2
moviepy==0.2.3.2
msgpack-numpy==0.4.1
msgpack-python==0.4.8
murmurhash==0.28.0
numpy==1.13.3
olefile==0.44
pathlib==1.0.1
Pillow==4.3.0
plac==0.9.6
preshed==1.0.0
regex==2017.4.5
requests==2.18.4
six==1.11.0
spacy==2.0.5
termcolor==1.1.0
thinc==6.10.2
toolz==0.9.0
tqdm==4.11.2
ujson==1.35
urllib3==1.26.5
wcwidth==0.1.7
webencodings==0.5.1
wrapt==1.10.11
